{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="card">
  <form id="form-equipamento" method="post" action="{% if equipamento.id %}{% url 'core:editar_equipamento' equipamento.id %}{% else %}{% url 'core:criar_equipamento' %}{% endif %}" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="card-header">Equipamento    
      <button class="btn btn-sm btn-success float-right mr-1" type="button" onclick="confirmarSalvar()">{% if equipamento.id %}Salvar{% else %}Criar{% endif %}</button>
      {% if equipamento.id and equipamento.status != 'Excluído' %}
        <button class="btn btn-sm btn-danger float-right mr-1" type="button" onclick="confirmarExclusao()">Excluir</button>
      {% endif %}    
  </div>
  <div class="card-body">
      <div class="form-group">
        {% if equipamento.id %}
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-barcode"></i>
            </span>
          </div>
          <input class="form-control" style="background-color: #f8f9fa;" id="id" type="text" name="id" value="{{ equipamento.id }}" readonly>
        </div>
        {% endif %}
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-video-camera"></i>
            </span>
          </div>
          <input class="form-control" id="nome" type="text" name="nome" placeholder="Nome" value="{{ equipamento.nome }}">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-edit"></i>
            </span>
          </div>
          <select class="form-control" id="status" name="status">
            <option value="Disponível" {% if equipamento.status == 'Disponível' %}selected{% endif %}>Disponível</option>
            <option value="Excluído" {% if equipamento.status == 'Excluído' %}selected{% endif %}>Excluído</option>
            <option value="Em Reparo" {% if equipamento.status == 'Em Reparo' %}selected{% endif %}>Em Reparo</option>
            <option value="Emprestado" {% if equipamento.status == 'Emprestado' %}selected{% endif %}>Emprestado</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="foto">Foto do Equipamento</label>
        <input type="file" class="form-control-file" id="foto" name="foto" onchange="exibirFoto(this)">
      </div>
      <div class="form-group">
        {% if equipamento.foto %}
          <div class="mt-2 d-flex flex-column align-items-center" style="width: 200px;">
            <img id="foto-preview" src="{{ foto_equipamento }}" alt="Foto do Equipamento" style="max-width: 200px;">            
            <a href="#" class="btn btn-sm btn-danger" onclick="confirmarRemoverFoto({{ equipamento.id }})">Remover Foto</a>
          </div>
        {% else %}
          <img id="foto-preview" src="{% static 'img/equipments/default.jpg' %}" alt="Foto do Equipamento" style="max-width: 200px;">
        {% endif %}
      </div>
  </div>  
 </form>
</div>
<script>
  function exibirFoto(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function(e) {
        document.getElementById('foto-preview').src = e.target.result;
      };
      reader.readAsDataURL(input.files[0]);
    }
  }

  function confirmarRemoverFoto(equipamentoId) {
    if (confirm('Tem certeza de que deseja remover a foto?')) {
      // Enviar uma solicitação POST para o servidor para remover a foto
      fetch('/coreui/equipamentos/' + equipamentoId + '/remover_foto/', {
        method: 'POST',
        headers: {
          'X-CSRFToken': '{{ csrf_token }}',
        },
      })
      .then(response => {
        if (response.ok) {
          // Recarregar a página para refletir as alterações
          location.reload();
        } else {
          // Tratar erros de remoção da foto, se necessário
          console.error('Ocorreu um erro ao remover a foto');
        }
      })
      .catch(error => {
        console.error('Ocorreu um erro ao remover a foto', error);
      });
    }
  }
</script>
{% if equipamento.id %}
<script>
  function confirmarExclusao() {
    if (confirm("Tem certeza que deseja excluir o equipamento?")) {
      // Redirecionar para a view de desabilitar_equipamento
      window.location.href = "{% url 'core:desabilitar_equipamento' equipamento.id %}";
    }
  }
</script>
{% endif %}
<script>
  function confirmarSalvar() {
    var status = document.getElementById('status').value;
    if (status === 'Excluído') {
      if (confirm("Tem certeza que deseja salvar o equipamento com o status 'Excluído'?")) {
        // Submeter o formulário para salvar o equipamento
        document.getElementById('form-equipamento').submit();
      }
    } else {
      // Submeter o formulário para salvar o equipamento
      document.getElementById('form-equipamento').submit();
    }
  }
</script>
{% endblock content %}
