{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="card-group mb-4">
    <!-- Card Total Equipamentos -->
    <div class="card">
        <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
            <i class="fa fa-video-camera fa-lg mt-4"></i>
        </div>
        <div class="text-value">{{ total_equipamentos }} </div>
        <small class="text-muted text-uppercase font-weight-bold">Equipamentos</small>
        <div class="progress progress-xs mt-3 mb-0">
            <div class="progress-bar bg-info" role="progressbar" width="80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        </div>
    </div>
    <br>
    <!-- Card Equipamentos -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <i class="fa fa-align-justify"></i>
                <form class="form-inline ml-auto" method="get" action="{% url 'core:listar_equipamentos' %}">
                    <div class="input-group">
                        <input type="text" id="search-equipamento" class="form-control" style="width:350px;" name="q" placeholder="Pesquisar...">
                        {% if request.GET.q %}
                            <div class="input-group-append">
                                <a href="{% url 'core:listar_equipamentos' %}" class="btn btn-outline-primary">Remover busca: {{ request.GET.q }}</a>
                            </div>
                        {% endif %}
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <a href="{% url 'core:criar_equipamento' %}" class="btn btn-sm btn-success ml-auto">Novo Equipamento</a>
            </div>
            <div class="card-body">
            <table class="table table-responsive-sm table-striped" id="equipment-table">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <a href="{% url 'core:listar_equipamentos' %}?{% if query %}q={{ query }}&{% endif %}coluna=nome"></a>
                            <th><a href="{% url 'core:listar_equipamentos' %}?{% if query %}q={{ query }}&{% endif %}coluna=nome">Equipamento</a></th>
                            <th><a href="{% url 'core:listar_equipamentos' %}?{% if query %}q={{ query }}&{% endif %}coluna=categoria">Categoria</a></th>
                            <th><a href="{% url 'core:listar_equipamentos' %}?{% if query %}q={{ query }}&{% endif %}coluna=status">Status</a></th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for equipamento in equipamentos %}    
                        <tr>                            
                            <td>
                                <a href="{% url 'core:editar_equipamento' equipamento.id %}">
                                {% if equipamento.foto %}
                                  <img class="img-avatar" src="{% static 'img/equipments/' %}{{ equipamento.id }}.jpg" alt="Foto do Equipamento" style="max-width: 100px; max-height: 100px; border-radius: 1em;">
                                {% else %}
                                  <img class="img-avatar" src="{% static 'img/equipments/default.jpg' %}" alt="Foto Padrão" style="max-width: 100px; max-height: 100px; border-radius: 1em;">
                                {% endif %}
                                </a>
                            </td>
                            <td>{{ equipamento.nome }}</td>
                            <td>{{ equipamento.categoria }}</td>
                            <td>
                                <span class="{{ equipamento.get_status_class }}">{{ equipamento.get_status_display }}</span>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="{% url 'core:editar_equipamento' equipamento.id %}">Editar</a>
                                        <a class="dropdown-item" href="#">Reservar</a>
                                        <a class="dropdown-item" href="#">Devolver</a>
                                        <a class="dropdown-item" href="#">Emprestar</a>
                                        <a class="dropdown-item" href="{% url 'core:editar_equipamento' equipamento.id %}">Excluir</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">Nenhum equipamento encontrado.</td>
                        </tr>
                        {% endfor %}
                    </tbody>                  
                </table>
                <!-- Paginação -->
                <ul class="pagination">
                  {% if equipamentos.has_previous %}
                  <li class="page-item">
                      <a class="page-link" href="?{% if query %}q={{ query }}&{% endif %}coluna={{ coluna }}&page={{ equipamentos.previous_page_number }}">Prev</a>
                  </li>
                  {% endif %}
                  {% for num in equipamentos.paginator.page_range %}
                  {% if equipamentos.number == num %}
                  <li class="page-item active">
                      <a class="page-link" href="?{% if query %}q={{ query }}&{% endif %}coluna={{ coluna }}&page={{ num }}">{{ num }}</a>
                  </li>
                  {% else %}
                  <li class="page-item">
                      <a class="page-link" href="?{% if query %}q={{ query }}&{% endif %}coluna={{ coluna }}&page={{ num }}">{{ num }}</a>
                  </li>
                  {% endif %}
                  {% endfor %}
                  {% if equipamentos.has_next %}
                  <li class="page-item">
                      <a class="page-link" href="?{% if query %}q={{ query }}&{% endif %}coluna={{ coluna }}&page={{ equipamentos.next_page_number }}">Next</a>
                  </li>
                  {% endif %}
              </ul>
            </div>
        </div>
    </div>
    
          
    <!-- Card Reserva -->
    {% for reserva in reservas %}
    <div class="card">
      <div class="card-body">
        <!-- Conteúdo do card Reserva -->
      </div>
    </div>
    {% endfor %}
  
    <!-- Card Emprestimo -->
    {% for emprestimo in emprestimos %}
    <div class="card">
      <div class="card-body">
        <!-- Conteúdo do card Emprestimo -->
      </div>
    </div>
    {% endfor %}
  </div>

  <script>

</script>

{% endblock content %}